/* 社員管理フォーム */

.search-column{
    width: 300px;
}

.employees-add{
    background-color: rgb(1, 180, 1);
}
.fa-check{
    color: rgb(1, 180, 1);
    font-size: 1.5em;
}

/* .pagination{
    justify-content: flex-end;
} */

#limit{
    height: 23px;
}

.leaving-day,
.datetime{
    flex-wrap: nowrap;
}

.leaving-width,
.date-width{
    width: 51%;
}