.date-group{
    display: flex;
    flex-wrap: nowrap!important;
}

.search-column{
    width: 300px;
}

.employees-add{
    background-color: rgb(1, 180, 1);
}

/* inputフォームのスタイル */
.container{
    display: flex;
}
.left{
    text-align: center;
}
.left table{
    margin:auto;
}
.contents{
    flex: 1;
}
.select_month {
    display: flex;
}
.button_form{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}